---
coinbase_api:
  key: my_production_public_key
  secret: my_production_secret

order_form:
  - product: ETH-USD
    amount: 10.00
  - product: BTC-USD
    amount: 10.00
  - product: SOL-USD
    amount: 10.00